@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif ;
    list-style: none;
    text-decoration: none;
}



@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
  

   @keyframes myAnim {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

@-webkit-keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes rotate-in-center {
    0% {
      -webkit-transform: rotate(-360deg);
              transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      opacity: 1;
    }
  }
  
  



header {
    background-color: #9f3647;
    color: #fff;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

.navbar--logo {
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;


}

.navbar--logo:hover {

    animation: tilt-n-move-shaking 0.25s infinite;
}

main {
    height: 100vh;
    color: black;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* animation: myAnim 2s ease 0s 1 normal forwards; */
}

main section p:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
}

.navbar--list {
  display: flex;
  gap: 15px;
}

.navbar--link {
  color: white;
}

.login {
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
}